@mixin flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@mixin justify-content($value) {
  -webkit-justify-content: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

@mixin flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin align-items($value) {
  -webkit-align-items: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

// Mixin flexbox------------------------>

@mixin for-table-only {
    @media (max-width: 900px) { @content; }
}
  @mixin for-celphone-portrait-up {
    @media (max-width: 400px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 2000px) { @content; }
}