<section class="section-main">
    <div class="section-main__container">
        <div class="section-main__container__txt">
            <p class="section-main__container__txt--title">Un año después de declarada la <b>pandemia</b> y con un panorama distinto en cuanto a los hábitos de consumo y preferencias de los consumidores, las <b>ventas a través de comercio electrónico</b> en el país aumentaron un <b>44 %</b> en el primer trimestre de 2021 frente al mismo periodo del año anterior, <b>cifras que seguirán en aumento durante el resto del año y para el 2022.</b></p>
            <img src="./../../assets/jpg/icon-mouse-scroll-05.svg" alt="icon mouse scrolling" class="section-main__container__txt--img">
        </div>
        <div class="section-main__container__blue"> </div>
    </div>
</section>

<section class="section-report">
    <div class="section-report__sub-container">
        <p class="section-report__sub-container--title">Tu puedes hacer <b>parte de estas cifras de incremento</b> y más si están a la vanguardia con las<b> tendencias de Ecommerce que vienen para el 2022</b></p>
    </div>

    <div class="section-report__sub-container-btn">    
        <button type="button" class="section-report__sub-container-btn--btn-blue">
            <a href="./../../assets/pdf/pdfecommerce.pdf" download="Tendencias-Ecommerce-2022" class="section-report__sub-container-btn--btn-blue__dowload"> DESCARGAR INFORME</a>
        </button>
    </div>
</section>

<section class="section-ecomerce">
    <div class="section-ecomerce__container-txt">
        <p class="section-ecomerce__container-txt--title">Si estas interesado en <b>implementar un ecommerce B2B o B2C</b>, déjanos tus datos para contactarte</p>
    </div>

    <div class="section-ecomerce__container-buton">
        <button class="section-ecomerce__container-buton--btn-gren" type="button" id="btnModal" data-toggle="modal" data-target="#exampleModal">ME INTERESA</button>
    </div>
</section>

<section class="section-footer">
    <img src="./../../assets/jpg/logo-doctus-azul-06.svg" alt="" class="section-footer__logo">
    <a href="https://doctus.com.co/" class="section-footer--txt">Power by: doctus</a>
</section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog container-main" role="document">
        <div class="modal-content container-main__container-group">
            <div class="container-main__container-group__blue"></div>           
            <form action="" class="modal-body container-main__container-group__container">
                <div class="modal-body container-main__container-group__container--group">
                    <p class="modal-body container-main__container-group__container--group__title">Nombre</p>
                    <input type="text" class="modal-body container-main__container-group__container--group__input">
                </div>
                <div class="modal-body container-main__container-group__container--group">
                    <p class="modal-body container-main__container-group__container--group__title">Compañía</p>
                    <input type="text" class="modal-body container-main__container-group__container--group__input">
                </div>
                <div class="modal-body container-main__container-group__container--group">
                    <p class="modal-body container-main__container-group__container--group__title">Email</p>
                    <input type="text" class="modal-body container-main__container-group__container--group__input">
                </div>
                <div class="modal-body container-main__container-group__container--group">
                    <p class="modal-body container-main__container-group__container--group__title">Celular</p>
                    <input type="text" class="modal-body container-main__container-group__container--group__input">
                </div>
            </form>
            <div class="modal-body container-main__container-group__btn">
                <button type="button" class="modal-body container-main__container-group__btn__gren" data-dismiss="modal">Enviar</button>
            </div>
        </div>
    </div>
  </div>