@import "./app/scss/mixins";
@import "./app/scss/playsholder";
@import "./app/scss/variable";
@import "./app/scss/fonts";
// importaciones de hojas parciales--------------------->
@font-face {
    font-family: bold;
    src: url(./assets/font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: regular;
    src: url(./assets/font/OpenSans-Regular.ttf);
}
// fuentes generales ------------------------------------>
body{
    margin: 0px;
}